.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: nav;
    background-color: #e8e8f3;
    border-radius: 10px 0 0 10px;
    margin: 1px;
    width: 180px;
}


.item {
    width: 100%;
    margin: 6px;
    z-index: 2;
}
.item a{
    z-index: 2;
    color: #8e8ea9;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    transition: all 0.2s ease-in;
}
.item a.active {
    margin: 6px;
    color: #393c4d;
    transform: scale(1.2);
    transition: all 0.2s ease-in;
}

.setting {
    width: 100%;
    margin-top: 30px;
}

.logOut {
    cursor: pointer;
    margin: auto 20px 20px 20px  ;
    padding: 10px;
    align-self: center;
}
