.nav {
    grid-area: nav;
    background-color: #e8e8f3;
    border-radius: 10px 0 0 10px;
    margin: 1px;
    width: 180px;
}


.item {
    margin: 6px;
    z-index: 2;
}
.logo {
height: 60px;
    z-index: 1;
    margin-bottom: 30px;
}
img.redux {
    width: 60px;
    display: block;
    margin:  30px auto;
    user-select: none;
}
img.react {
    height: 120px;
    top: -121px;
    position: relative;
    right: 1px;
    opacity: 0.05;
    user-select: none;
}
.item a{
    z-index: 2;
    color: #8e8ea9;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    transition: all 0.2s ease-in;
}
.item a.active {
    margin: 6px;
    color: #393c4d;
    transform: scale(1.2);
    transition: all 0.2s ease-in;
}

.setting {
    margin-top: 30px;
}