* {
  margin: 5px;
  background-color: #bfc8ee;
  border-radius: 3px;
}
.app {
  display: grid;
  grid-template-areas:
  'nav h h h h'
  'nav c c c c';
  grid-template-rows: 60px 1fr ;
  grid-template-columns: 2fr 10fr;
}



